/* 
===============================
Reset
===============================
*/
* {
  box-sizing: border-box;
}
body {
  font-family: tahoma, arial;
}
span {
  display: block;
}
.container {
  margin: 20px auto;
 width: 1000px;
}
@media(max-width:991px){ 
  .container {
     width: auto;
  }
  .row, .game-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
}

/* End reset */

/* 
===============================
Row
===============================
*/
.row,
.game-info {
  display: flex;
}
hr {
  border: 1px solid #eee;
}
.game-info h1,
.game-info p {
  flex: 1;
}
.game-info p {
  text-align: right;
}
.game-info p span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
/* End Row */
/*
=======================================
Draw Hang
==========================================
*/
.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}
.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  left: -60px;
    /* opacity: 0; */
  /* transition: 1s; */
}
/* Stand */
.hangman-draw .the-draw .the-stand {
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
    /* opacity: 0; */
  /* transition: 1s; */
}
.hangman-draw .the-hang {
  /* opacity: 0; */
  /* transition: 1s; */
}
.hangman-draw .the-draw .the-hang::before {
  content: '';
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 15px;
}
.hangman-draw .the-draw .the-hang::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #222;
  left: 130px;
  top: 15px;
}
.hangman-draw .the-rope {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 95px;
  top: 45px;
  border: 4px dashed #222;
  border-radius: 50%;
   /* opacity: 0; */
  /* transition: 1s; */
}
/* End Draw Hang */
/* ==================================
*Draw The Man
======================================
*/
.hangman-draw .the-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  left: 105px;
  top: 55px;
   /* opacity: 0; */
  /* transition: 1s; */
}
.hangman-draw .the-draw .the-man .body {
  background-color: #222;
  width: 4px;
  height: 110px;
  position: absolute;
  top: 102px;
  left: 130px;
  /* opacity: 0; */
  /* transition: 1s; */
}
.hangman-draw .the-draw .the-man .hands {
  /* display: none; */
    /* opacity: 0; */
  /* transition: 1s; */
}
.hangman-draw .the-draw .the-man .hands::before,
.hangman-draw .the-draw .the-man .hands::after {
  content: '';
  position: absolute;
  background-color: #222;
  width: 50px;
  height: 4px;
  top: 140px;
}
.hangman-draw .the-draw .the-man .hands::before {
  left: 85px;
  transform: rotate(30deg);
}
.hangman-draw .the-draw .the-man .hands::after {
  left: 130px;
  transform: rotate(-30deg);
}
.hangman-draw .the-draw .the-man .legs {
  /* display: none; */
  /* opacity: 0; */
  /* transition: 1s; */
}
.hangman-draw .the-draw .the-man .legs::before,
.hangman-draw .the-draw .the-man .legs::after {
  content: '';
  width: 50px;
  height: 4px;
  background-color: #222;
  position: absolute;
  top: 220px;
}
.hangman-draw .the-draw .the-man .legs::before {
  transform: rotate(-30deg);
  left: 85px;
}
.hangman-draw .the-draw .the-man .legs::after {
  left: 130px;
  transform: rotate(30deg);
}
/* End The Man */
/* ===================================================
Letters STyle
=======================================================
*/
.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.letters.end{
  pointer-events: none !important;
  opacity: 0.2;
}
.letters .letter-box {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
/* 
===========================================================
?Letter Guess Styles,
===========================================================
*/
.letters-guess {
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}
.letters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid #333;
  transition: 0.3s;
  background-color: #fdfdfd;
}
.letters-guess span.with-space {
  background: none;
  border-bottom: 0;
  position: relative;
}
.letters-guess span.with-space::before {
  content: '';
  width: 20px;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 
===============================================
! Logic If i Click in Element What Happen?
===============================================
*/
.letters .letter-box.clicked {
  opacity: 0.1;
  background-color: #111;
  pointer-events: none;
}
/* 
================================================
Hiding& Show Drawing Via Classes,
================================================
*/
.hangman-draw .the-draw,
.hangman-draw .the-stand,
.hangman-draw .the-hang,
.hangman-draw .the-rope,
.hangman-draw .head,
.hangman-draw .body,
.hangman-draw .hands,
.hangman-draw .legs {
  opacity: 0 ;
  transform: translateY(-100%);
  transition: 1s linear;
}
.hangman-draw.wrong-1 .the-draw,
.hangman-draw.wrong-2 .the-stand,
.hangman-draw.wrong-3 .the-hang,
.hangman-draw.wrong-4 .the-rope,
.hangman-draw.wrong-5 .head,
.hangman-draw.wrong-6 .body,
.hangman-draw.wrong-7 .hands,
.hangman-draw.wrong-8 .legs {
  opacity: 1 !important;
  transform: translateY(0);
}
.popup{ 
  position: fixed;
  background-color: #009688;
  color: #fff;
  width: 80%;
    top: 61%;
  left: 10%;
  text-align: center;
  font-size: 40px;
  border: 1px solid #ccc;
}
.ParagraphWinner {
    position: fixed;
    left: 0;
    top: 59%;
    background-color: #e91e63;
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.Win-Game{ 
  pointer-events: none;
  opacity: 0.1;
}